[Unit]
Description=Smart Meter Reader
After=network.target

[Service]
ExecStart=/home/filip/slimmemeter/venv/bin/python /home/filip/slimmemeter/smart_meter_reader.py
WorkingDirectory=/home/filip/slimmemeter
StandardOutput=inherit
StandardError=inherit
Restart=always
User=filip

[Install]
WantedBy=multi-user.target
